<!DOCTYPE html>
<html>
  <head>
    <title>react_server_render</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="myApp"><%- body %></div>
    <script src="/bundle.js"></script>
  </body>
</html>
